@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
  <title>Danico</title>

</head>
<body>

<!-- titulo -->

<div id="header" class="container">
  <!--  <div id="account"><a href="/login">log in</a>
      | <a href="/signup">sign up</a></div>-->
  <label id="title"> Danico</label>  
  
</div>

<!-- cuerpo -->


<div id="main" class="container">
  
  <div id="start_pick">
      
        <form id="new_pick" accept-charset="UTF-8" action="/picks" method="post">
      
        <div class="row">
            <div class="span13">
            <input id="address" name="address" placeholder="Medellin" type="text" />

            </div>
            <div class="span3">
            <button class="btn primary" name="button" type="submit">go</button>
            </div>
        </div>
        </form>
    </div>


<div id="about" class="row">
   <!--<div class="span5">

    <h2>what is this?</h2>
  </div>
  <div class="span11">
    <p>We're the answer to the hardest part of your day: deciding where to get lunch.</p>

    <p>We’ll give you just three places a day. Tell us what you like and we'll learn your preferences, sending you to a mix of old favorites and new discoveries.</p>
    
    <p>
      <a href="http://blog.wheretoeatat.com" class="pill">blog</a>

      <a href="http://twitter.com/#!/wheretoeatat" class="pill">twitter</a>
      <a href="https://www.facebook.com/pages/Where-To-Eat-At/284929831519044" class="pill">facebook</a>
      
      
    </p>
  </div>-->
</div>

<div id="authForm" class="modal hide"></div>
</div>


<script type="text/javascript">

</script>

</body>

</html>